{% extends "base.html" %}

{% block title %}
<title> Shoping cart </title>
{% endblock %}

{% block contents %}

    <div class="main-container">
        <div class="row">
            {% for order_line in order_lines %}
                <div class="order-line col-md-6 row">
                    <div class="col-4">
                        <img src="{{ url_for('static', filename=order_line.item.images.main_image) }}" alt="">
                    </div>
                    <div class="info-container col-8">
                        <h3> {{ order_line.item.name }}</h3>
                        <p>Size: {{ order_line.size.upper() }}</p>
                        <p>Quantity: {{ order_line.quantity }}</p>
                        {%  if order_line.item.sale_price == None  %}
                        <p class="price-tag">{{ order_line.item.price }} LEI</p>
                    {% else %}
                        <p class="price-tag"><s>{{ order_line.item.price }} LEI</s></p>
                        <p class="price-tag sale">{{ order_line.item.sale_price }} LEI</p>
                    {% endif %}
                        <div class="buttons mt-5">
                            <a href="{{ url_for('edit_from_cart', order_line_id=order_line.id) }}"><button type="button" class="btn btn-outline-dark">Edit</button></a>
                            <a href="{{ url_for('delete_from_cart', order_line_id=order_line.id) }}"><button type="button" class="btn btn-danger">Delete</button></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        <form action="/create-checkout-session" method="POST">
            <button type="submit" id="checkout-button">Checkout</button>
        </form>
        </div>
    </div>

{% endblock %}